
.container-imesada{
    background-color: darkturquoise;
    min-height: calc(100vh - 70px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

.form-imesada{
    background-color: bisque;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000000cb; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.imagem-porco{
    width: 32px;
}